/* Lists of stories */

.stories-list {
    margin: 20px 5px;
    height: 83vh;
  }
  
  .stories-list > li {
    color: gray;
    font-size: 0.8rem;
    margin: 10px 0;
  }
  
  #stories-loading-msg {
    font-weight: bold;
    font-size: 150%;
    margin: 20px 30px;
  }
  
  
  /* Individual stories */
  
  .story-link {
    color: black;
    font-size: 0.85rem;
    font-weight: normal;
    margin: 18px 0;
    margin-bottom: .5rem;
  }
  
  .story-link:hover {
    text-decoration: none;
  }
  
  .story-author {
    margin-left: 2em;
  }
  
  .story-user {
    display: block;
  }
  
  .star {
    display: inline;
  }
  
  .trash {
    display: inline;
  }
  
  .trash:hover {
    color: red;
  }
  
  .story-author {
    display: block;
    color: green;
    margin-left: 1.2rem;
    margin-top: .3rem;
    margin-bottom: .3rem;
  }
  
  .story-user {
    color: orange;
    margin-left: 1.2rem;
  }
  
  hr {
    border: none;
    height: .01em;
    background-color: rgba(51, 51, 51, .3);
  }